PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
	id INTEGER NOT NULL, 
	email VARCHAR, 
	hashed_password VARCHAR, 
	full_name VARCHAR, 
	role VARCHAR, 
	is_active BOOLEAN, 
	created_at DATETIME, two_factor_enabled BOOLEAN DEFAULT 0, two_factor_secret VARCHAR, email_notif_login BOOLEAN DEFAULT 1, email_notif_deposit BOOLEAN DEFAULT 1, email_notif_withdrawal BOOLEAN DEFAULT 1, is_verified BOOLEAN DEFAULT 0, verification_token VARCHAR, 
	PRIMARY KEY (id)
);
INSERT INTO users VALUES(1,'test4@example.com','$2b$12$.jotj3R5JFp1A0Za8JjPLuLY7JWmPTj0OnQCWmzbSmVZ3udzd9drq','Test User','user',1,'2026-05-02 15:05:40.384855',0,NULL,1,1,1,1,NULL);
INSERT INTO users VALUES(2,'sweetblissnneoma@gmail.com','$2b$12$BIYLPe97XERdblJ61ioZcO7MmKK18Tne12/NaSQmz6G5gglpOR0Q.','hy','user',1,'2026-05-02 20:49:29.425887',0,NULL,1,1,1,1,NULL);
INSERT INTO users VALUES(3,'harrigold.18@gmail.com','$2b$12$2quGp8cr7wMfXHzsGX8xAu7vnIPNguOTU4m7xU6il8yFL9fyiHria','hh','user',1,'2026-05-03 10:28:28.097854',0,'DSIOJ3Y7THLDKKN4QEAT4MDSY5H2KYSM',1,1,0,1,NULL);
CREATE TABLE coins (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	symbol VARCHAR, 
	icon_url VARCHAR, 
	is_active BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	UNIQUE (symbol)
);
INSERT INTO coins VALUES(1,'Bitcoin','BTC','https://assets.coingecko.com/coins/images/1/large/bitcoin.png',1,'2026-05-03 11:44:00.372469');
INSERT INTO coins VALUES(2,'Ethereum','ETH','https://assets.coingecko.com/coins/images/279/large/ethereum.png',1,'2026-05-03 11:44:00.383609');
INSERT INTO coins VALUES(3,'Tether','USDT','https://assets.coingecko.com/coins/images/325/large/tether.png',1,'2026-05-03 11:44:00.387661');
CREATE TABLE wallet_addresses (
	id INTEGER NOT NULL, 
	coin_id INTEGER, 
	network VARCHAR, 
	address VARCHAR, 
	is_used BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(coin_id) REFERENCES coins (id), 
	UNIQUE (address)
);
INSERT INTO wallet_addresses VALUES(1,1,'Mainnet','0x6b019a31fd0b3baf2046fbbfa4f16db0fe73b909',1,'2026-05-03 11:44:00.385172');
INSERT INTO wallet_addresses VALUES(2,1,'Mainnet','0x82d55c28ef0073aa6ff6c3fb248143d32235f404',0,'2026-05-03 11:44:00.385172');
INSERT INTO wallet_addresses VALUES(3,1,'Mainnet','0x1dd189854c731d88137ea54c218a650b0520340e',0,'2026-05-03 11:44:00.385172');
CREATE TABLE balances (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	coin_id INTEGER, 
	amount NUMERIC(20, 8), 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(coin_id) REFERENCES coins (id)
);
INSERT INTO balances VALUES(1,3,1,663,'2026-05-03 15:36:24.757166');
INSERT INTO balances VALUES(2,3,3,208698.074528959987,'2026-05-03 15:36:24.757166');
CREATE TABLE transactions (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	coin_id INTEGER, 
	type VARCHAR, 
	amount NUMERIC(20, 8), 
	network VARCHAR, 
	to_address VARCHAR, 
	from_address VARCHAR, 
	status VARCHAR, 
	timestamp DATETIME, 
	notes VARCHAR, 
	tx_hash VARCHAR, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(coin_id) REFERENCES coins (id)
);
INSERT INTO transactions VALUES(1,3,1,'deposit',666,'System',NULL,NULL,'approved','2026-05-03 12:14:20.181186','','0xc3d006e04c47af46e13fd35e562da17a27dac49abe4ea7b977d857d69bbc7f94');
CREATE TABLE withdrawal_requests (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	coin_id INTEGER, 
	network VARCHAR, 
	to_address VARCHAR, 
	amount NUMERIC(20, 8), 
	status VARCHAR, 
	created_at DATETIME, 
	reviewed_at DATETIME, 
	reviewed_by INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(coin_id) REFERENCES coins (id), 
	FOREIGN KEY(reviewed_by) REFERENCES users (id)
);
CREATE TABLE user_wallets (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	coin_id INTEGER, 
	address_id INTEGER, 
	assigned_at DATETIME, network VARCHAR, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(coin_id) REFERENCES coins (id), 
	FOREIGN KEY(address_id) REFERENCES wallet_addresses (id)
);
INSERT INTO user_wallets VALUES(1,3,3,41,'2026-05-03 13:58:27.366931',NULL);
INSERT INTO user_wallets VALUES(2,3,1,1,'2026-05-03 13:58:43.638122',NULL);
INSERT INTO user_wallets VALUES(3,3,2,21,'2026-05-03 13:58:45.463003',NULL);
CREATE TABLE notifications (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER,
        type VARCHAR,
        message VARCHAR,
        is_read BOOLEAN DEFAULT 0,
        created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY(user_id) REFERENCES users(id)
    );
INSERT INTO notifications VALUES(1,3,'login','New login detected for your account.',1,'2026-05-03 10:43:41.330679');
INSERT INTO notifications VALUES(2,4,'login','New login detected for your account.',0,'2026-05-03 11:50:44.032636');
INSERT INTO notifications VALUES(3,4,'login','New login detected for your account.',0,'2026-05-03 11:51:06.721990');
CREATE TABLE coin_networks (
	id INTEGER NOT NULL, 
	coin_id INTEGER, 
	name VARCHAR, 
	label VARCHAR, 
	is_active BOOLEAN, 
	PRIMARY KEY (id), 
	FOREIGN KEY(coin_id) REFERENCES coins (id)
);
INSERT INTO coin_networks VALUES(1,1,'btc','normal btc network',1);
INSERT INTO coin_networks VALUES(2,1,'testnet','btc test net',1);
CREATE TABLE platform_settings (
	id INTEGER NOT NULL, 
	users_offset INTEGER, 
	assets_offset NUMERIC(20, 2), 
	withdrawals_offset INTEGER, 
	deposits_offset NUMERIC(20, 2), 
	uptime_display VARCHAR, 
	encryption_display VARCHAR, 
	updated_at DATETIME, contact_email VARCHAR DEFAULT 'support@solace.com', contact_phone VARCHAR DEFAULT '+1 (555) 000-0000', contact_address VARCHAR DEFAULT '123 Crypto Ave, Blockchain City', 
	PRIMARY KEY (id)
);
INSERT INTO platform_settings VALUES(1,180000,2400000000,0,1250000,'99.99%','256-bit','2026-05-03 11:35:58.897989','support@capitaltsx.com','+1 (555) 000-0000','123 Crypto Ave, Blockchain City');
CREATE TABLE exchanges (
	id INTEGER NOT NULL, 
	name VARCHAR, 
	url VARCHAR, 
	icon_url VARCHAR, 
	is_active BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);
INSERT INTO exchanges VALUES(1,'Binance','https://www.binance.com','https://logo.clearbit.com/binance.com',1,'2026-05-03 14:34:59.841250');
INSERT INTO exchanges VALUES(2,'Coinbase','https://www.coinbase.com','https://logo.clearbit.com/coinbase.com',1,'2026-05-03 14:34:59.841250');
INSERT INTO exchanges VALUES(3,'Kraken','https://www.kraken.com','https://logo.clearbit.com/kraken.com',1,'2026-05-03 14:34:59.841250');
CREATE TABLE swap_history (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        user_id INTEGER,
        from_coin_id INTEGER,
        to_coin_id INTEGER,
        from_amount DECIMAL(20, 8),
        to_amount DECIMAL(20, 8),
        fee_usd DECIMAL(20, 2) DEFAULT 3.00,
        status VARCHAR DEFAULT 'completed',
        created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY(user_id) REFERENCES users(id),
        FOREIGN KEY(from_coin_id) REFERENCES coins(id),
        FOREIGN KEY(to_coin_id) REFERENCES coins(id)
    );
INSERT INTO swap_history VALUES(1,3,1,3,1,78668.3070275500067,3,'completed','2026-05-03 14:33:33.537643');
INSERT INTO swap_history VALUES(2,3,1,3,2,130029.767501409995,3,'completed','2026-05-03 15:36:24.763781');
CREATE TABLE tickets (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	subject VARCHAR, 
	status VARCHAR, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE ticket_messages (
	id INTEGER NOT NULL, 
	ticket_id INTEGER, 
	sender_id INTEGER, 
	content VARCHAR, 
	is_admin BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(ticket_id) REFERENCES tickets (id), 
	FOREIGN KEY(sender_id) REFERENCES users (id)
);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('notifications',29);
INSERT INTO sqlite_sequence VALUES('swap_history',2);
CREATE INDEX ix_users_id ON users (id);
CREATE UNIQUE INDEX ix_users_email ON users (email);
CREATE INDEX ix_coins_id ON coins (id);
CREATE INDEX ix_wallet_addresses_id ON wallet_addresses (id);
CREATE INDEX ix_balances_id ON balances (id);
CREATE INDEX ix_transactions_id ON transactions (id);
CREATE INDEX ix_withdrawal_requests_id ON withdrawal_requests (id);
CREATE INDEX ix_user_wallets_id ON user_wallets (id);
CREATE INDEX ix_notifications_user_id ON notifications (user_id);
CREATE INDEX ix_coin_networks_id ON coin_networks (id);
CREATE INDEX ix_platform_settings_id ON platform_settings (id);
CREATE INDEX ix_exchanges_id ON exchanges (id);
CREATE INDEX ix_tickets_id ON tickets (id);
CREATE INDEX ix_ticket_messages_id ON ticket_messages (id);
COMMIT;
